<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reddit Search &amp; Share</title>
  <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="styles.css"> 
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/ngRedditCtrl.js"></script>
  <script src="js/ngRedditService.js"></script>
</head>
<body ng-app="ngReddit">
  <div class="container" ng-controller="NgRedditCtrl">
    <div class="navbar" role="navigation">
      <a class="logo" href="#">Reddit</a>
      <input class="searchbar" ng-model="category" ng-change="getPosts()">
    </div>

    <div class="main">
      <!-- begin post -->
      <div class="post" ng-repeat="post in posts" ng-click="overlayPost($index)">
        <div class="thumbnail" style="background-image:url({{post.data.thumbnail}})"></div>
        <div class="author"> {{ post.data.author }}</div>
        <div class="title">{{ post.data.title }}</div>
        <div class="comments">{{ post.data.num_comments }} comments</div>
        <div class="ups">{{ post.data.ups }} ups</div>
        <div class="downs">{{ post.data.downs }} downs</div>
        <div class="clear"></div>

        <!-- begin overlay for post -->
        <div class="overlay" ng-show="post.clicked">
          <div id="{{$index}}" class="draggable-rect">
            <div class="thumbnail overlay-thumbnail" style="background-image:url({{post.data.thumbnail}})"></div>
            <div class="overlay-author">{{ post.data.author }}</div>
            <div class="overlay-title">{{ post.data.title }}</div>
            <div class="overlay-comments">
              {{ post.data.num_comments }} comments
              {{ post.data.ups }} ups
            </div>
          </div>
          <div class="instructions">Drag the card on the left to the desired action.</div>
          <div id="reddit-{{$index}}" class="droppable-rect reddit">
            <img src="images/reddit-logo.png" /><br>
            Open on Reddit
          </div>
          <div id="mail-{{$index}}" class="droppable-rect mail">
            <img src="images/mail-logo.png" /><br>
            Email to a Friend
          </div>
        </div>
        <!-- end overlay -->

        <hr ng-hide="$last">
      </div>
      <!-- end post -->
    </div>

  </div>
</body>
</html>