.post {
  margin-bottom:20px;
}

.author {
  color:blue;
}

.thumbnail {
  height: 90px;
  width: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #d3d3d3;
}